packages:
  yum:
    python-devel: '2.6'
    libevent-devel: '2.0.18'
    gcc: '4.8.2'

container_commands:
  01_syncdb:
   command: "python manage.py syncdb --noinput"
   leader_only: true

# You can specify any key-value pairs in the aws:elasticbeanstalk:application:environment namespace and it will be
# passed in as environment variables on your EC2 instances
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "CroppingService.settings"
    S3_BUCKET_NAME: "elasticbeanstalk-us-east-1-894700735760"
    S3_BUCKET_LOCATION: "https://s3.amazonaws.com/elasticbeanstalk-us-east-1-894700735760/ImageCropper/"
    S3_FOLDER_NAME: "ImageCropper/"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: CroppingService/wsgi.py
    NumProcesses: 3
    NumThreads: 20